@use "/src/common/styles/colors" as *;
@use '/src/common/styles/mixins' as*;
$indent: 10px;
.user-profile {
  padding: $indent;
  padding-left: $indent * 3;
  margin: $indent;
  background-color: $secondaryBgColor;
  width: 250px;
  h2 > span {
    color: $accentColor;
  }
}
.flex {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: flex-start;
@include flex(row,nowrap,center,center);
  font-size: 1.5em;
  spam {
    color: $infoColor;
  }
}
.amount {
  padding: 0 $indent * 2;
}


.select{
    border: 4px solid $accentColor;
}
.noselect{
    border: 4px solid $infoColor;
}